html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #2C4947;
}

#aiga {
  background-color: #536563;
  padding-top:2px;
  height:61px;
  width:370px;
  position: relative;
  bottom: 4px;
}

#aiga_image {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 57px;
}

#reg_bird {
  margin-top: 60px;
  margin-bottom: 60px;
}

h1 {
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
  font-weight: normal;
  margin-right: 20px;
  margin-left: 20px;
  color: darkslategray;
  font-size: 22pt;
  line-height: 1.5;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14pt;
  text-align: center;
  color: #709B4B;
  font-weight: bold;
}

h3 {
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
  color: white;
  text-align: center;
  margin: 15px;
  margin-top: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

h4 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10pt;
  text-align: center;
  color: white;
  font-weight: normal;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 7px;
  line-height: 1.75;
}

p {
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
  margin-right: 25px;
  margin-left: 25px;
  font-weight: normal;
  line-height: 1.75;
  color: gray;
  font-size: 12pt;
}

.line {
  width: 26px;
}

#dashes {
  margin: 5px;
  margin-top: 75px;
  margin-bottom: 75px;
  background-image: url("./assets/part_2/dash-horizontal.png");
  height: 5px;
}

.center {
  text-align: center;
  margin-bottom: 50px;
}

.speaking_topics {
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  display: block;
}

.brown {
  color: saddlebrown;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 10px;
}

hr {
  margin-top: 100px;
  margin-bottom: 40px;
  opacity: 0.5;
}

#wood_grain {
    background-image: url("./assets/part_3/wood-bg.png");
}

#event {
  width: 300px;
  margin-top: 75px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 75px;
}

.yellow {
  color: goldenrod;
  font-size: 26pt;
  text-align: center;
  margin-bottom: 5pt;
}

.circle:first-line {
  font-size: 30pt;
}

.circle {
  line-height: 1.2;
  border: solid tomato;
  border-radius: 50%;
  width: 80px;
  margin-left: auto;
  padding: 3pt;
  margin-right: auto;
}

.circle_div {
  height: 95px;
  margin-top: 60px;
}

.events {
  color: white;
  font-weight: normal;
  font-size: 16pt;
  margin-bottom: 5px;
}

#fire_img {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

#last_event {
  padding-bottom: 100px;
}

#light_blue {
  background: #CAECF8;
}

ul {
  list-style-image: url("./assets/part_4/plus-bullet.png");
  color: #603812;
  font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
  font-size: 16pt;
  display: inline-block;
  padding-left: 50px;
  margin-right: 20px;
  line-height: 2.5;
}

#register_img {
  position: relative;
  bottom: 4px;
}

#register {
  background-image: url("./assets/part_5/register.png");
  height: 695px;
  width: 370px;
  position: relative;
  bottom: 4px;
}

a {
  width: 200px;
  height: 75px;
  display: inline-block;
  margin-top: 355px;
  margin-left: 85px;
}

#faq {
  padding-left: 70px;
  padding-top: 50px;
  padding-bottom: 30px;
}
